### Hi there 👋

I am **Ladislav Prskavec**, a Software Engineer and SRE based in Prague

[![Homepage][web-image]](https://www.prskavec.net/)
[![Blog in Czech][web-image-2]](https://blog.prskavec.net/)
[![Twitter Follow][twitter-image]](https://twitter.com/abtris)

I'm running [Go meetup Prague](https://www.gomeetupprague.cz/), so if you are interested in Go and located near Prague, join our meetup group.

> *I’m really passionate about site reliability engineering. I think the biggest problem for companies today is that they don’t have the SRE engineers they need. I’m helping to find solutions for my company and for others who want to listen.*

{{range .}}

{{if contains .Url "/talk/"}}### 🎤 Talks{{else if contains .Url "/post/"}}### ✍️ Writing{{else}}### {{.Title}} in {{.Language}}{{end}}
{{range .Items}}- {{.}}{{end}}
{{end}}

[web-image]: https://img.shields.io/badge/%20-www.prskavec.net-ba7ba9?style=flat-square&logo=safari&logoColor=white
[web-image-2]: https://img.shields.io/badge/%20-blog.prskavec.net-ba7ba9?style=flat-square&logo=safari&logoColor=white
[twitter-image]: https://img.shields.io/twitter/follow/abtris?style=social
