### Hi there 👋

I am **Ladislav Prskavec**, a Software Engineer and SRE based in Prague

[![Homepage][web-image]](https://www.prskavec.net/)
[![Blog in Czech][web-image-2]](https://blog.prskavec.net/)
[![Twitter Follow][twitter-image]](https://twitter.com/abtris)

I'm running [Go meetup Prague](https://www.gomeetupprague.cz/), if you are interested in Go and you are located near Prague join our meetup group.

> *I’m really passionate about site reliability engineering. I think the biggest problem for current companies is doesn't have SRE engineers if they need it. I’m helping to find solutions for my company and others who can listen*

{{range .}}

### {{.Title}} in {{.Language}}
{{range .Items}}- {{.}}{{end}}
{{end}}

[web-image]: https://img.shields.io/badge/%20-www.prskavec.net-ba7ba9?style=flat-square&logo=safari&logoColor=white
[web-image-2]: https://img.shields.io/badge/%20-blog.prskavec.net-ba7ba9?style=flat-square&logo=safari&logoColor=white
[twitter-image]: https://img.shields.io/twitter/follow/abtris?style=social
